# Secrets & local env
.env

# Virtual environments
.venv/
venv/

# Python cache/bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Editors/IDEs
.idea/
.vscode/

# OS junk
.DS_Store

# Results
results/

# Data (too large for git)
data/
